.messageContainer {
    background-color: rgb(195, 179, 179);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messageName {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.messageEmail {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.messageContent {
    font-size: 18px;
    color: #444;
}